\[assets]
\cache/*
\artifacts
\cfg_dev
\[dev]
\[Starter_Dev].bat
\vMenu
\db
\[Maps]
\racingstuff
.replxx_history
*.rar
\txData
start_6683_default.bat
cfg/admins.cfg
cfg/admins.cfg
cfg/keys.cfg
cfg/settings.cfg
server-files/api-ms-win-core-console-l1-1-0.dll
server-files/api-ms-win-core-console-l1-2-0.dll
server-files/api-ms-win-core-datetime-l1-1-0.dll
server-files/api-ms-win-core-debug-l1-1-0.dll
server-files/api-ms-win-core-errorhandling-l1-1-0.dll
server-files/api-ms-win-core-fibers-l1-1-0.dll
server-files/api-ms-win-core-file-l1-1-0.dll
server-files/api-ms-win-core-file-l1-2-0.dll
server-files/api-ms-win-core-file-l2-1-0.dll
server-files/api-ms-win-core-handle-l1-1-0.dll
server-files/api-ms-win-core-heap-l1-1-0.dll
server-files/api-ms-win-core-interlocked-l1-1-0.dll
server-files/api-ms-win-core-libraryloader-l1-1-0.dll
server-files/api-ms-win-core-localization-l1-2-0.dll
server-files/api-ms-win-core-memory-l1-1-0.dll
server-files/api-ms-win-core-namedpipe-l1-1-0.dll
server-files/api-ms-win-core-processenvironment-l1-1-0.dll
server-files/api-ms-win-core-processthreads-l1-1-0.dll
server-files/api-ms-win-core-processthreads-l1-1-1.dll
server-files/api-ms-win-core-profile-l1-1-0.dll
server-files/api-ms-win-core-rtlsupport-l1-1-0.dll
server-files/api-ms-win-core-string-l1-1-0.dll
server-files/api-ms-win-core-synch-l1-1-0.dll
server-files/api-ms-win-core-synch-l1-2-0.dll
server-files/api-ms-win-core-sysinfo-l1-1-0.dll
server-files/api-ms-win-core-sysinfo-l1-2-0.dll
server-files/api-ms-win-core-timezone-l1-1-0.dll
server-files/api-ms-win-core-util-l1-1-0.dll
server-files/api-ms-win-crt-conio-l1-1-0.dll
server-files/api-ms-win-crt-convert-l1-1-0.dll
server-files/api-ms-win-crt-environment-l1-1-0.dll
server-files/api-ms-win-crt-filesystem-l1-1-0.dll
server-files/api-ms-win-crt-heap-l1-1-0.dll
server-files/api-ms-win-crt-locale-l1-1-0.dll
server-files/api-ms-win-crt-math-l1-1-0.dll
server-files/api-ms-win-crt-multibyte-l1-1-0.dll
server-files/api-ms-win-crt-private-l1-1-0.dll
server-files/api-ms-win-crt-process-l1-1-0.dll
server-files/api-ms-win-crt-runtime-l1-1-0.dll
server-files/api-ms-win-crt-stdio-l1-1-0.dll
server-files/api-ms-win-crt-string-l1-1-0.dll
server-files/api-ms-win-crt-time-l1-1-0.dll
server-files/api-ms-win-crt-utility-l1-1-0.dll
server-files/api-ms-win-downlevel-kernel32-l2-1-0.dll
server-files/api-ms-win-eventing-provider-l1-1-0.dll
server-files/botan.dll
server-files/cfx_curl_x86_64.dll
server-files/citizen-devtools.dll
server-files/citizen-resources-core.dll
server-files/citizen-resources-metadata-lua.dll
server-files/citizen-scripting-core.dll
server-files/citizen-scripting-lua.dll
server-files/citizen-scripting-lua54.dll
server-files/citizen-scripting-mono-v2.dll
server-files/citizen-scripting-mono.dll
server-files/citizen-scripting-v8node.dll
server-files/citizen-server-fxdk.dll
server-files/citizen-server-gui.dll
server-files/citizen-server-impl.dll
server-files/citizen-server-instance.dll
server-files/citizen-server-main.dll
server-files/citizen-server-monitor.dll
server-files/citizen-server-net.dll
server-files/citizen-server-state-fivesv.dll
server-files/citizen-server-state-rdr3sv.dll
server-files/citizen/clr2/cfg/mono/4.5/machine.config
server-files/citizen/clr2/lib/mono/4.5/CitizenFX.Core.dll
server-files/citizen/clr2/lib/mono/4.5/CitizenFX.Core.pdb
server-files/citizen/clr2/lib/mono/4.5/CitizenFX.Core.Server.dll
server-files/citizen/clr2/lib/mono/4.5/CitizenFX.Core.Server.sym
server-files/citizen/clr2/lib/mono/4.5/CitizenFX.Core.sym
server-files/citizen/clr2/lib/mono/4.5/CitizenFX.Core.xml
server-files/citizen/clr2/lib/mono/4.5/Facades/Microsoft.Win32.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/Microsoft.Win32.Registry.AccessControl.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/Microsoft.Win32.Registry.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/Mono.Data.Sqlite.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/netstandard.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.AppContext.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Collections.Concurrent.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Collections.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Collections.NonGeneric.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Collections.Specialized.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.Annotations.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.Composition.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.EventBasedAsync.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.TypeConverter.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Console.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Data.Common.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Data.SqlClient.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Contracts.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Debug.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.FileVersionInfo.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Process.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.StackTrace.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.TextWriterTraceListener.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Tools.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.TraceEvent.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.TraceSource.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Tracing.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Drawing.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Dynamic.Runtime.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Globalization.Calendars.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Globalization.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Globalization.Extensions.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.Compression.ZipFile.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.AccessControl.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.DriveInfo.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.Watcher.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.IsolatedStorage.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.MemoryMappedFiles.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.Pipes.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.IO.UnmanagedMemoryStream.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Linq.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Linq.Expressions.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Linq.Parallel.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Linq.Queryable.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.AuthenticationManager.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.Cache.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.Http.Rtc.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.HttpListener.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.Mail.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.NameResolution.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.NetworkInformation.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.Ping.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.Requests.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.Security.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.ServicePoint.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.Sockets.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.Utilities.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.WebHeaderCollection.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.WebSockets.Client.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Net.WebSockets.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ObjectModel.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Emit.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Emit.ILGeneration.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Emit.Lightweight.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Extensions.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Reflection.TypeExtensions.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Resources.Reader.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Resources.ReaderWriter.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Resources.ResourceManager.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Resources.Writer.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.CompilerServices.VisualC.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Extensions.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Handles.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.InteropServices.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.InteropServices.WindowsRuntime.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Numerics.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Formatters.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Json.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Xml.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.AccessControl.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Claims.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Algorithms.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Csp.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.DeriveBytes.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encoding.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.Aes.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.ECDiffieHellman.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.ECDsa.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Hashing.Algorithms.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Hashing.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.ProtectedData.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.RandomNumberGenerator.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.RSA.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.X509Certificates.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Principal.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.Principal.Windows.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Security.SecureString.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Duplex.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Http.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.NetTcp.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Security.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ServiceProcess.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ServiceProcess.ServiceController.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Text.Encoding.CodePages.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Text.Encoding.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Text.Encoding.Extensions.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Text.RegularExpressions.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Threading.AccessControl.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Threading.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Overlapped.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Tasks.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Tasks.Parallel.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Thread.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Threading.ThreadPool.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Threading.Timer.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.ValueTuple.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Xml.ReaderWriter.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XDocument.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XmlDocument.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XmlSerializer.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XPath.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Xml.XPath.XDocument.dll
server-files/citizen/clr2/lib/mono/4.5/Facades/System.Xml.Xsl.Primitives.dll
server-files/citizen/clr2/lib/mono/4.5/I18N.CJK.dll
server-files/citizen/clr2/lib/mono/4.5/I18N.dll
server-files/citizen/clr2/lib/mono/4.5/I18N.MidEast.dll
server-files/citizen/clr2/lib/mono/4.5/I18N.Other.dll
server-files/citizen/clr2/lib/mono/4.5/I18N.Rare.dll
server-files/citizen/clr2/lib/mono/4.5/I18N.West.dll
server-files/citizen/clr2/lib/mono/4.5/Microsoft.CSharp.dll
server-files/citizen/clr2/lib/mono/4.5/Mono.CSharp.dll
server-files/citizen/clr2/lib/mono/4.5/Mono.Posix.dll
server-files/citizen/clr2/lib/mono/4.5/Mono.Security.dll
server-files/citizen/clr2/lib/mono/4.5/Mono.Security.Win32.dll
server-files/citizen/clr2/lib/mono/4.5/mscorlib.dll
server-files/citizen/clr2/lib/mono/4.5/MsgPack.dll
server-files/citizen/clr2/lib/mono/4.5/MsgPack.sym
server-files/citizen/clr2/lib/mono/4.5/MsgPack.xml
server-files/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.dll
server-files/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.pdb
server-files/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.sym
server-files/citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.xml
server-files/citizen/clr2/lib/mono/4.5/ref/MsgPack.dll
server-files/citizen/clr2/lib/mono/4.5/ref/MsgPack.sym
server-files/citizen/clr2/lib/mono/4.5/ref/MsgPack.xml
server-files/citizen/clr2/lib/mono/4.5/ref/System.Reflection.Metadata.dll
server-files/citizen/clr2/lib/mono/4.5/ref/System.Reflection.Metadata.sym
server-files/citizen/clr2/lib/mono/4.5/System.Collections.Immutable.dll
server-files/citizen/clr2/lib/mono/4.5/System.Collections.Immutable.sym
server-files/citizen/clr2/lib/mono/4.5/System.ComponentModel.DataAnnotations.dll
server-files/citizen/clr2/lib/mono/4.5/System.Configuration.dll
server-files/citizen/clr2/lib/mono/4.5/System.Core.dll
server-files/citizen/clr2/lib/mono/4.5/System.Data.dll
server-files/citizen/clr2/lib/mono/4.5/System.dll
server-files/citizen/clr2/lib/mono/4.5/System.Drawing.dll
server-files/citizen/clr2/lib/mono/4.5/System.EnterpriseServices.dll
server-files/citizen/clr2/lib/mono/4.5/System.IO.Compression.dll
server-files/citizen/clr2/lib/mono/4.5/System.IO.Compression.FileSystem.dll
server-files/citizen/clr2/lib/mono/4.5/System.Management.dll
server-files/citizen/clr2/lib/mono/4.5/System.Net.dll
server-files/citizen/clr2/lib/mono/4.5/System.Net.Http.dll
server-files/citizen/clr2/lib/mono/4.5/System.Net.Http.WebRequest.dll
server-files/citizen/clr2/lib/mono/4.5/System.Numerics.dll
server-files/citizen/clr2/lib/mono/4.5/System.Numerics.Vectors.dll
server-files/citizen/clr2/lib/mono/4.5/System.Reflection.Metadata.dll
server-files/citizen/clr2/lib/mono/4.5/System.Reflection.Metadata.sym
server-files/citizen/clr2/lib/mono/4.5/System.Runtime.InteropServices.RuntimeInformation.dll
server-files/citizen/clr2/lib/mono/4.5/System.Runtime.Serialization.dll
server-files/citizen/clr2/lib/mono/4.5/System.ServiceModel.dll
server-files/citizen/clr2/lib/mono/4.5/System.ServiceModel.Internals.dll
server-files/citizen/clr2/lib/mono/4.5/System.Transactions.dll
server-files/citizen/clr2/lib/mono/4.5/System.Web.dll
server-files/citizen/clr2/lib/mono/4.5/System.Xml.dll
server-files/citizen/clr2/lib/mono/4.5/System.Xml.Linq.dll
server-files/citizen/clr2/lib/mono/4.5/v2/CitizenFX.Core.dll
server-files/citizen/clr2/lib/mono/4.5/v2/CitizenFX.Core.pdb
server-files/citizen/clr2/lib/mono/4.5/v2/CitizenFX.Core.sym
server-files/citizen/clr2/lib/mono/4.5/v2/CitizenFX.Server.dll
server-files/citizen/clr2/lib/mono/4.5/v2/CitizenFX.Server.pdb
server-files/citizen/clr2/lib/mono/4.5/v2/CitizenFX.Server.sym
server-files/citizen/clr2/lib/mono/4.5/v2/ref/CitizenFX.Core.dll
server-files/citizen/clr2/lib/mono/4.5/v2/ref/CitizenFX.Core.sym
server-files/citizen/clr2/lib/mono/4.5/v2/ref/CitizenFX.Core.xml
server-files/citizen/clr2/lib/mono/4.5/v2/ref/CitizenFX.Server.dll
server-files/citizen/clr2/lib/mono/4.5/v2/ref/CitizenFX.Server.sym
server-files/citizen/clr2/lib/mono/4.5/v2/ref/CitizenFX.Server.xml
server-files/citizen/scripting/lua/deferred.lua
server-files/citizen/scripting/lua/graph.lua
server-files/citizen/scripting/lua/json.lua
server-files/citizen/scripting/lua/MessagePack.lua
server-files/citizen/scripting/lua/scheduler.lua
server-files/citizen/scripting/resource_init.lua
server-files/citizen/scripting/v8/.gitattributes
server-files/citizen/scripting/v8/9.3/icudtl.dat
server-files/citizen/scripting/v8/9.3/icudtl_extra.dat
server-files/citizen/scripting/v8/9.3/snapshot_blob.bin
server-files/citizen/scripting/v8/console.js
server-files/citizen/scripting/v8/eventemitter2.js
server-files/citizen/scripting/v8/index.d.ts
server-files/citizen/scripting/v8/main.js
server-files/citizen/scripting/v8/msgpack.js
server-files/citizen/scripting/v8/natives_blob.bin
server-files/citizen/scripting/v8/timer.js
server-files/components.json
server-files/concrt140.dll
server-files/conhost-server.dll
server-files/CoreRT.dll
server-files/debug-script.dll
server-files/devcon.dll
server-files/ETWProviders64.dll
server-files/FXServer.exe
server-files/http-client.dll
server-files/imgui.dll
server-files/libmono-btls-shared.dll
server-files/libuv.dll
server-files/mono-2.0-dac-sgen.dll
server-files/mono-2.0-sgen.dll
server-files/MonoPosixHelper.dll
server-files/msvcp140.dll
server-files/msvcp140_1.dll
server-files/msvcp140_2.dll
server-files/msvcp140_atomic_wait.dll
server-files/msvcp140_codecvt_ids.dll
server-files/net-base.dll
server-files/net-http-server.dll
server-files/net-tcp-server.dll
server-files/nng.dll
server-files/node.dll
server-files/scrbind-base.dll
server-files/scripting-server.dll
server-files/server-monitor-token.key
server-files/server-tls.crt
server-files/server-tls.key
server-files/svadhesive.dll
server-files/ucrtbase.dll
server-files/v8-9.3.345.16.dll
server-files/vccorlib140.dll
server-files/vcruntime140.dll
server-files/vcruntime140_1.dll
server-files/vfs-core.dll
server-files/vfs-impl-server.dll
server-files/voip-server-mumble.dll
start_7542_default.bat
cfg/admins.cfg
cfg/keys.cfg
cfg/settings.cfg
